venv/
__pycache__/
infra/snowflake_tf_key.p8
infra/snowflake_tf_key.pub
raw/

# Terraform
infra/**/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/*.tfvars
infra/*.tfvars.json
infra/crash.log
infra/crash.*.log
infra/override.tf
infra/override.tf.json
infra/*_override.tf
infra/*_override.tf.json
infra/.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
tmp/
logs/
.env

s3-sink-dev-setup.sh

notes.txt